/* *, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f1f1f1;
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    overflow-x: scroll;
  }
  .partie{
    background-color: aqua;
    width: 100%;
  }
  
  .slider img {
  
    height: 125px;
    width: 130px;
    padding: 7px;
    border-radius: 25px;

  }
  .slider{
    display: flex;
    padding: 10px;
    width: 250%;
    background-color: blue;
    
  }

  img.active {
    display: block;
    animation: fade 0.8s;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .btn-nav {
    font-size: 50px;
    border-radius: 15px;
    margin: 0 15px;
    cursor: pointer;
 /*    overflow-x: scroll; */
  }
  ::-webkit-scrollbar{
    display: none;
  }
  .right{
    overflow-x: scroll;
  } */
  